{% extends "base.html" %}
{% block title %}Hopper{% endblock %}
{% block header %}
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="Hopper" />
<meta property="og:description" content="Jump with AT-URIs to your favorite websites and services." />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Hopper" />
<meta name="twitter:description" content="Jump with AT-URIs to your favorite websites and services." />
<meta property="og:site_name" content="Hopper" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://hopper.at/logo-256x256.png" />
<meta property="og:image:url" content="https://hopper.at/logo-256x256.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />
<meta property="og:image:alt" content="A minimal hot air balloon" />
<meta property="twitter:image" content="https://hopper.at/logo-256x256.png" />
<script type="application/ld+json">
  { "@context" : "https://schema.org", "@type" : "Organization", "url" : "https://hopper.at/", "name": "Hopper" }
</script>
{% endblock %}
{% block content %}
<main>
  <hgroup>
    <h1>Hopper</h1>
    <p>An AT-URI redirection tool.</p>
  </hgroup>
  <section>
    {% include 'index.partial.html' %}

    <h1>About</h1>
    <p>Hopper is a tool that lets you customize the websites and services used to view AT-URIs.</p>

    <h2>Form</h2>
    <p>Use the form to jump to an AT-URI provider for an AT-URI.</p>

    <h2>Query String Parameters</h2>
    <p>The following query string parameters are supported:</p>
    <ul>
      <li>
        <kbd>aturi</kbd> - The URL encoded AT-URI to jump to.
      </li>
      <li>
        <kbd>server</kbd> - (Optional) The hostname of an AT-URI provider that serves
        <code>/.well-known/host-meta.json</code> link templates.
      </li>
    </ul>
    <p>Examples:</p>
    <ul>
      <li><a target="_blank"
          href="https://hopper.at/?aturi=at%3A%2F%2Fdid%3Aplc%3Atgudj2fjm77pzkuawquqhsxm%2Fcommunity.lexicon.calendar.event%2F3kxbvxj7blk2t">https://hopper.at/?aturi=at%3A%2F%2Fdid%3Aplc%3Atgudj2fjm77pzkuawquqh...vxj7blk2t</a>
      </li>
      <li><a target="_blank"
          href="web+at://did:plc:tgudj2fjm77pzkuawquqhsxm/community.lexicon.calendar.event/3kxbvxj7blk2t">web+at://did:plc:tgudj2fjm77pzkuawquqhsxm/community.lexicon.calendar.event/3kxbvxj7blk2t</a>
      </li>
    </ul>

    <p><strong>Pro Tip</strong>: Install the <a href="https://hopper.at/hopper-firefox-1.0.0.xpi">Hopper Firefox Extension</a> to open <code>web+at://...</code> URIs</p>

    <h3>Spec</h3>
    <p>More information and examples can be found at <a href="https://{{ base }}/spec">https://{{ base }}/spec</a></p>

    <p>Why Hopper? See <a
        href="https://en.wikipedia.org/wiki/Hopper_balloon">https://en.wikipedia.org/wiki/Hopper_balloon</a></p>
  </section>
</main>
{% endblock %}