{% extends "base.html" %}
{% block title %}Hopper{% endblock %}
{% block header %}
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="Hopper Policies" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Hopper Policies" />
<meta property="og:site_name" content="Hopper" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://hopper.at/logo-256x256.png" />
<meta property="og:image:url" content="https://hopper.at/logo-256x256.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />
<meta property="og:image:alt" content="A minimal hot air balloon" />
<meta property="twitter:image" content="https://hopper.at/logo-256x256.png" />
<style>
  section {
    counter-reset: heading;
  }

  h1:before {
    content: counter(heading)") ";
    counter-increment: heading;
  }

  h1 {
    counter-reset: subheading;
  }

  h2:before {
    content: counter(heading)"." counter(subheading)") ";
    counter-increment: subheading;
  }

  h2 {
    counter-reset: subsubheading;
  }

  h3:before {
    content: counter(heading)"." counter(subheading)"." counter(subsubheading)"." ") ";
    counter-increment: subsubheading;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <section>
    <h1 id="privacy-policy">Privacy Policy</h1>
    <p>
      <em>
        We (“we,” “our,” “us”) are committed to protecting your privacy. This Privacy Policy explains how we collect,
        use, disclose, and safeguard your personal information when you visit our website, https://hopper.at/ (the
        "Site", "Services"). Please read this policy carefully to understand our practices regarding your personal data
        and how we treat it.
      </em>
    </p>

    <p>
      <em>
        This Privacy Policy is compliant with relevant privacy laws applicable to the state of Ohio, as well as
        applicable federal regulations such as the California Consumer Privacy Act (CCPA), if applicable, and the
        General Data Protection Regulation (GDPR) for international users.
      </em>
    </p>

    <p>
      <strong>
        Our privacy policy is simple: we don't collect or store any of your data, or track your usage in any way. We
        only use essential cookies for features that you opt-in to use.
      </strong>
    </p>
    <ol>
      <li>
        We don't collect any personal information other than information you voluntarily
        provide.
      </li>
      <li>
        We don't sell your personal information or Services activity to advertisers or other third parties.
      </li>
      <li>
        We share information only when legally required, or when reasonably necessary to prevent harm in an emergency
        situation.
      </li>
      <li>
        We report legal and government demands transparently. See <a href="#demand-history">Demand History</a>
      </li>
    </ol>

    <h2>Information We Collect</h2>

    <h3>Personal Information</h3>
    <ul>
      <li>
        <strong>Personally Identifiable Information (PII):</strong> We do not collect any personally identifiable
        information from you when you use the Services.
      </li>
    </ul>

    <h3>Automatically Collected Information</h3>
    <ul>
      <li>
        We do not collect detailed information about your site usage or track your performance when you use the
        Services.
      </li>
      <li>
        Anonymized Data: Any information that is collected, such as IP addresses or device information, is anonymized
        and cannot be linked back to you individually.
      </li>
      <li>
        Minimal Logging: We retain minimal logs, such as the basic information necessary for site security and to
        protect the integrity of our systems, but we do not use this information for performance tracking or profiling.
      </li>
    </ul>

    <h3>Cookies and Tracking Technologies</h3>
    <p>
      We only use cookies that are essential to the functionality of our website. We do not use cookies to track your
      behavior or interactions with the Site. For more detailed information, please refer to our <a
        href="#cookie-policy">Cookie Policy</a>.
    </p>

    <h2>GDPR</h2>
    <p>
      If you are located in the European Union, we rely on the following legal grounds for processing your personal data
      under the General Data Protection Regulation (GDPR):
    </p>

    <ul>
      <li>
        Consent: Where you have provided your consent to process your personal data (e.g., for marketing purposes).
      </li>
      <li>
        Performance of a Contract: When processing is necessary to fulfill our obligations under a contract with you.
      </li>
      <li>
        Legal Obligation: Where we have a legal obligation to process your data.
      </li>
      <li>
        Legitimate Interests: When we process your data for our legitimate interests, provided those interests are not
        overridden by your rights and interests.
      </li>
    </ul>

    <h2>Your Rights</h2>

    <h3>Access and Correction</h3>
    <p>
      We do not have any personal information about you that would require access or correction.
    </p>

    <h3>Data Deletion</h3>
    <p>
      We do not have any personal information about you that would require deletion.
    </p>

    <h3>Do Not Track Signals (California Residents)</h3>
    <p>
      This site is compliant with Do Not Track (DNT) signals from browsers as it does not use any tracking technologies.
    </p>

    <h2>Data Security</h2>
    <p>
      We take reasonable measures to protect the confidentiality and security of your personal information. However, no
      method of transmission over the Internet or method of electronic storage is completely secure. Therefore, we
      cannot guarantee its absolute security.
    </p>
    <p>We do not have any personal information about you that would require additional security measures or disclosure.
    </p>

    <h2>Data Retention</h2>
    <p>
      We retain your data only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless
      a longer retention period is required by law.
    </p>
    <p>
      We do not have any personal information about you that would require data retention disclosures.
    </p>

    <h2>Children's Privacy</h2>
    <p>
      Our Services are not intended for individuals under the age of 18, and we do not knowingly collect personal
      information
      from children.
    </p>
    <p>
      We do not have any personal information about you, and no information can be disclosed about the age or authority
      of those using the site, or their activity.
    </p>

    <h2>Third-Party Links</h2>
    <p>
      The purpose of this site is to link and relocate visitors to third-party websites. We are not responsible for the
      privacy practices or the content of such websites. We encourage you to review the privacy policies of these third
      parties before providing them with your personal information.
    </p>
  </section>
  <section>
    <h1 id="cookie-policy">Cookie Policy</h1>

    <h2>What Are Cookies?</h2>

    <p>
      Cookies are small text files that are stored on your device (computer, tablet, smartphone, etc.) when you visit a
      website. They help websites remember your actions and preferences (such as login information, language settings,
      and other display preferences) over a period of time so that you don't have to re-enter them whenever you return
      to the site.
    </p>

    <h2>Types of Cookies We Use</h2>
    <p>
      We do not use advertising or performance cookies on our website. The cookies we use are solely for essential and
      functionality purposes, to enhance your browsing experience.
    </p>

    <ol>
      <li>
        <p>
          <strong>Functionality Cookies</strong>
          These cookies allow our website to remember choices you make (such as your language preference or region) and
          provide enhanced, more personalized features. The information these cookies collect may be anonymized, and
          they cannot track your browsing activity on other websites.
        </p>
      </li>
    </ol>

    <h2>Cookies We Do Not Use</h2>
    <p>
      We do not use advertising or performance cookies on our website. The cookies we use are solely for essential and
      functionality purposes, to enhance your browsing experience.
    </p>

    <ol>
      <li>
        <p>
          <strong>Advertising Cookies</strong>
          We do not use advertising cookies to track users across different websites or display personalized
          advertisements.
        </p>
      </li>
      <li>
        <p>
          <strong>Performance Cookies</strong>
          We do not use performance or analytics cookies to track user behavior or measure website performance.
        </p>
      </li>
    </ol>

    <h2>Managing Your Cookie Preferences</h2>
    <p>
      Most browsers are set to accept cookies by default, but you can modify your browser settings to block or delete
      cookies if you prefer. Please note that if you choose to disable cookies, some parts of our website may not
      function properly.
    </p>
    <p>
      To manage cookies in your browser:
    </p>
    <ul>
      <li>Google Chrome: Go to Settings > Privacy and Security > Cookies and other site data.</li>
      <li>Mozilla Firefox: Go to Preferences > Privacy & Security > Cookies and Site Data.</li>
      <li>Safari: Go to Preferences > Privacy > Cookies and website data.</li>
      <li>Microsoft Edge: Go to Settings > Site Permissions > Cookies and site data.</li>
    </ul>
    <p>
      For more detailed information on how to control cookies, you can visit <a
        href="https://www.allaboutcookies.org/">https://www.allaboutcookies.org/</a>.
    </p>
    <h1 id="terms-of-service">Terms of Service</h1>

    <p>
      <em>
        By accessing or using this website ("Website"), you agree to comply with and be bound by the following terms of
        service ("Terms"). If you do not agree to these Terms, you may not access or use the Website.
      </em>
    </p>

    <h2>Acceptance of Terms</h2>
    <p>
      By using this Website, you acknowledge that you have read, understood, and agree to be bound by these Terms, as
      well as any future modifications or updates we may make. We reserve the right to change these Terms at any time,
      and it is your responsibility to review them periodically.
    </p>

    <h2>Eligibility</h2>
    <p>
      You must be at least 18 years old to use our Website. By using the Website, you represent and warrant that you are
      of legal age and are able to enter into these Terms.
    </p>

    <h2>User Conduct</h2>
    <p>
      You agree to use the Website in a lawful manner and not to engage in any behavior that:
    </p>
    <ul>
      <li>
        Violates any applicable laws or regulations;
      </li>
      <li>
        Is harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or invasive of another's privacy;
      </li>
      <li>
        Infringes on the rights of others, including intellectual property rights;
      </li>
      <li>
        Interferes with the operation or security of the Website;
      </li>
      <li>
        Attempts to gain unauthorized access to the Website, its systems, or accounts;
      </li>
      <li>
        Distributes any viruses, malware, or harmful code.
      </li>
    </ul>

    <h2>Termination and Suspension of Service</h2>
    <p>
      We reserve the right, at our sole discretion, to block, restrict, or terminate your access to the Website or any
      of its services at any time without prior notice. This may occur if we believe, in our sole judgment, that your
      use of the Website violates these Terms, is harmful to the Website or its users, or for any other reason deemed
      necessary.
    </p>

    <h2>Intellectual Property</h2>
    <p>
      All content, materials, and features available on the Website, including but not limited to text, images, logos,
      designs, and software, are the property of Nick Gerakines. You may not copy, reproduce, modify, distribute, or
      create derivative works from any part of the Website without prior written permission.
    </p>

    <h2>Limitation of Liability</h2>
    <p>
      To the fullest extent permitted by law, Nick Gerakines and their affiliates, employees, and partners will not be
      liable for any direct, indirect, incidental, or consequential damages arising from your use of the Website,
      including but not limited to damages for loss of data, profits, or other intangible losses.
    </p>

    <h2>Disclaimer of Warranties</h2>
    <p>
      The Website is provided on an "as is" and "as available" basis without any warranties of any kind. We do not
      warrant that the Website will be error-free, uninterrupted, or free of harmful components. You use the Website at
      your own risk.
    </p>

    <h2>Indemnification</h2>
    <p>
      You agree to indemnify, defend, and hold harmless Nick Gerakines and their affiliates from and against any and all
      claims,
      liabilities, damages, losses, or expenses arising out of your use of the Website or your violation of these Terms.
    </p>

    <h2>Governing Law</h2>
    <p>
      These Terms are governed by and construed in accordance with the laws of Ohio, without regard to its conflict of
      law principles. Any disputes arising under or related to these Terms shall be subject to the exclusive
      jurisdiction of the courts in Ohio.
    </p>

    <h2>Severability</h2>
    <p>
      If any provision of these Terms is found to be invalid or unenforceable, that provision shall be severed and the
      remaining provisions shall remain in full force and effect.
    </p>
  </section>
  <section>
    <h1 id="demand-history">Demand History</h1>
    <p>
      We have never received any legal or government demands for user information.
    </p>
</main>
{% endblock %}